#about-me-field > .content-card {
  /* background-color: aliceblue; */
  position: relative;
}
#secondary-statement {
  color: rgba(255, 255, 255, 0.432);
}
#about-me-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 2px solid rgb(179, 56, 162); */
  margin-left: 4em;
}
#about-me-header > h2 {
  position: relative;
  font-size: 2em;
  margin: 0;
  /* float: left;
  left: 3em; */
  /* margin-top: 0.5em; */
  left: 0.25em;
  color: rgba(255, 255, 255, 0.74);
}
#about-me-header > h3 {
  position: relative;
  color: rgba(255, 255, 255, 0.438);
  font-size: 1.5em;
  margin: 0;
  left: 0.5em;
  /* float: left;
  left: 3em; */
}
#about-me-header > span {
  position: relative;
  left: 0.5em;
  /* color: chartreuse; */
}
#about-me-field > .content-card p {
  /* color: aqua; */
  text-align: left;
  /* margin-left: 2em; */
}
/* #about-me-field > .content-card >  */