#nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100vw;
  top: 0;
  z-index: 3;
  box-shadow: 0 1px 10px 0 rgb(0, 0, 0, 0.2);
  padding: .25rem .5rem;
  margin-bottom: 1rem;
  /* margin: 10px; */
  /* padding-inline: 10px; */
  /* padding-right: 10px;
  padding: auto;
  padding-left: 50px; */
  height: var(--header-height);
}

/* Wouldn't it be cool to have the blue react logo spinning behind my react logo as a cool animation?  */
.website-logo {
  width: 100px;
}

.nav-item {
  color: var(--accent2);
}

.menu-icon {
  height: 25px;
  width: 25px;
  color: var(--word-color);
  cursor: pointer;
  /* padding-right: 5px; */
}

.menu-icon:hover {
  color: var(--word-hover);
}

.menu-icon-btn {
  background: none;
  border: none;
  padding: 0;
  padding-right: 4px;
  z-index: 1;
}

.side-bar {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  position: fixed;
  top: var(--header-height);
  right: 0;
  height: calc(100vh - var(--header-height));
  width: 50px;
  float: right;
  /* left: 100px; */
  /* border: 1px solid black; */
  border-left: 1px solid var(--word-color);
  padding-bottom: 80px;
  padding-top: 5.5rem;
  z-index: 2;
  background-color: var(--nav-background);
  
}

/* .side-bar.open {

} */

.side-bar-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  overflow-y: scroll;
  /* height: max-content; */
}