#skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2em 2em;
  padding: 2em;
}
.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--skill-card-border);
  border-radius: 50%;
  padding: 1em;
  /* width: 250px;
  height: 250px; */
}
.skill-logo {
  /* min-width: 75px;
  max-width: 75px;
  min-width: 75px;
  min-height: 75px; */
  width: 75px;
  height: 75px;
  object-fit: contain;
}