footer {
  position: fixed;
  color: white;
  /* border: 2px solid white; */
  right: 0;
  bottom: 0;
  width: fit-content;
  margin-right: -10px;
}
.footer-link {
  color: var(--bold-font-color);
}
#quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: none
}
#quick-links > li {
  list-style-type: none;
}
.fa-codepen {
  border: 10 px solid black;
}