.App {
  --primary: rgb(10, 25, 47);
  --secondary: rgb(12, 34, 66);
  --secondary-opaque: rgba(12, 34, 66, 0.5);
  --font-color: rgb(136, 146, 176);
  --selection: rgb(204, 214, 246);;
  --bold-font-color: rgb(100, 255, 218);

  --header-height: 70px;
  --sidebar-width: 50px;
  text-align: center;
  /* ?? Use this simple cream background ?? */
  background: var(--primary);
  color: var(--font-color);
  /* url('https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png') */
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--word-color);
} */

.profile-picture {
  margin: auto;
  border: 10px solid black;
  border-radius: 50%;
}
/* Implement card with profile-picture-background class applied */
.profile-picture-background {
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC, rgb(204, 204, 255));
}
.caution {
  background: repeating-linear-gradient(45deg, yellow 0px, yellow 20px, black 20px, black 40px)
}

/* #about-me-field {
  margin-top: 50px;
  padding-top: 50px;
  border: 5px solid black;
}

#experience-field {
  border: 5px solid green;
  
}

#project-field {
  border: 5px solid peru;
  
}

#contact-me-field {
  border: 5px solid magenta;
  
} */
#content-container {
  margin-top: var(--header-height);
  margin-right: var(--sidebar-width);
  display: flex;
  flex-direction: column;

}

.content-card {
  position: relative;
  background-color: var(--primary);
}

/* .content-card::before {
  content: 'Test';
  position: absolute;
  background-color: var(--secondary);
  height: 100%;
  width: 100%;
  transition: transform 1s ease-out;
  transition: 1;
} */

/* .content-card-cover {
  position: absolute;
  background-color: var(--secondary);
  height: 100%;
  width: 100%;
  transition: transform 1s ease-out;
  transition: 1;
   width: 100em
} */

/* .content-card:hover {
  transform: translateX(100%)
  
} */

footer {
  align-items: flex-end;
  font-size: 2em;
}

#quick-links {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

