.App {
  --primary: rgb(10, 25, 47);
  --secondary: rgb(12, 34, 66);
  --secondary-opaque: rgba(12, 34, 66, 0.5);
  --font-color: rgb(136, 146, 176);
  --selection: rgb(204, 214, 246);;
  --bold-font-color: rgb(100, 255, 218);

  --header-height: 70px;
  --sidebar-width: 50px;

  text-align: center;
  background: var(--primary);
  color: var(--font-color);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.profile-picture {
  margin: auto;
  border: 10px solid black;
  border-radius: 50%;
}
/* Implement card with profile-picture-background class applied */
.profile-picture-background {
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC, rgb(204, 204, 255));
}
.caution {
  background: repeating-linear-gradient(45deg, yellow 0px, yellow 20px, black 20px, black 40px)
}

#content-container {
  margin-top: var(--header-height);
  margin-right: var(--sidebar-width);
  display: flex;
  flex-direction: column;

}

.content-card {
  position: relative;
  background-color: var(--primary);
}

footer {
  align-items: flex-end;
  font-size: 2em;
}

#quick-links {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

